:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --main-color: #fb5531;

    --header-height: 96px;
    --header-nav-height: 24px;
    --header-search-height: calc(var(--header-height)-var(var(--header-nav-height)));
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.4rem;
    font-size: 0.95rem;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html a {
    text-decoration: none;
}
/* Primary */
.btn--primary{
    background-color: var(--main-color);
    color: var(--white-color);
}
.fa-check{
    color: var(--main-color);
}
.text-white{
    color: white !important;
}
.center{
    text-align: center !important;
}
/* Size */
.fontsize-big{
    font-size: 1.2rem !important;
}
/* Distance */
.padding-2{
    padding: 2px !important;
}
.padding-6l{
    padding-left: 6px !important;
}
.padding-10lr{
    padding:  0 10px !important;
}
.padding-10b{
    padding-top: -10px !important;
}
.margin-left-8{
    margin-left: 8px !important;
}
.separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fB9086;
    height: 1.2rem;
    top: 0;
}
/* Responsive */
.grid{
    width: 1300px;
    max-width: 99%;
    margin: 0 auto;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
.grid__col-2{
    padding: 0 5px;
    width: calc((100%/14)*2);
}
.grid__col-12{
    padding: 0 5px;
    width: calc((100%/14)*12);
}
.grid__col-14{
    padding: 0 5px;
    width: 100%;
}
.grid__col-12-6{
    padding: 0 5px;
    width: calc(100%/6);
}
.grid__col-12-5{
    padding: 0 5px;
    width: calc(100%/5);
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 30px 0 30px;
    padding-left: 0;
}
.pagination a{
    color: var(--text-color );
}
.pagination-item-icon{
    opacity: 0.7;  
}
.pagination-item--active .pagination-item-link{
    color: var(--white-color);
    background-color: var(--main-color);
}
.pagination-item--active:hover{
    opacity: 0.8;
}
.pagination-item-link{
    padding: 4px 12px;
    margin: 0 10px;
}

/* Modal */
.modal{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: fadeIn ease 0.2s;
}
.modal__overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.modal__main{
    width: 420px    
}
.modal__body{
    position: relative;
    background-color: var(--white-color);
    border-radius: 4px;
    z-index: 100;
    animation: grow linear .2s;
}
/* Animation */
@keyframes fadeIn{
    from{ 
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes grow{
    from{
        opacity: 0.5;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}